Source: ros-humble-ros-gzharmonic-sim-demos
Section: misc
Priority: optional
Maintainer: Louise Poubel <louise@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-ros-gzharmonic-sim-demos
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgz-sim8-dev, ros-humble-image-transport-plugins, ros-humble-robot-state-publisher, ros-humble-ros-gzharmonic-bridge, ros-humble-ros-gzharmonic-image, ros-humble-ros-gzharmonic-sim, ros-humble-rqt-image-view, ros-humble-rqt-plot, ros-humble-rqt-topic, ros-humble-rviz2, ros-humble-sdformat-urdf, ros-humble-xacro, ros-humble-ros-workspace
Conflicts: ros-humble-ros-gz-sim-demos, ros-humble-ros-gzgarden-sim-demos
Description: Demos using Gazebo Sim simulation with ROS.
