Source: ros-humble-ros-gzharmonic-image
Section: misc
Priority: optional
Maintainer: Louise Poubel <louise@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), libgz-msgs10-dev, libgz-transport13-dev, pkg-config, ros-humble-ament-cmake, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-image-transport, ros-humble-rclcpp, ros-humble-ros-gzharmonic-bridge, ros-humble-sensor-msgs, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-ros-gzharmonic-image
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgz-msgs10-dev, libgz-transport13-dev, ros-humble-image-transport, ros-humble-rclcpp, ros-humble-ros-gzharmonic-bridge, ros-humble-sensor-msgs, ros-humble-ros-workspace
Conflicts: ros-humble-ros-gz-image, ros-humble-ros-gzgarden-image
Description: Image utilities for Gazebo simulation with ROS.
